<template>
  <div class="page">
    <transition name="fade" appear>
      <div class="gallery__theatre__container" v-show="theatreActive">
        <transition-group
          tag="div"
          :name="transitionName"
          class="gallery__theatre"
        >
          <div
            v-if="theatreActive"
            :key="theatreIndex"
            class="gallery__theatre__group"
          >
            <img :src="theatreImage.srcLg" class=" gallery__theatre__image" />

            <p class="gallery__theatre__text" v-show="theatreImage.text">
              {{ theatreImage.text }}
            </p>
          </div>
        </transition-group>
        <div class="btn btn-prev" @click="slide(-1)">
          &#10094;
        </div>
        <div class="btn btn-next" @click="slide(1)">
          &#10095;
        </div>
        <div class="btn btn-close" @click="hideTheatre()">
          &times;
        </div>
      </div>
    </transition>
    <navbar />
    <h1 class="page__title" v-if="pageTitle">{{ pageTitle }}</h1>

    <div class="gallery">
      <slot></slot>
      <div class="gallery__inner">
        <img
          v-for="(image, i) in images"
          @click="showTheatre(i)"
          :src="image.srcSm"
          alt="Alternate text for the image"
          class=" gallery__image "
          :style="image.style"
          :key="image.srcSm"
        />
        <img
          v-for="image in images"
          :src="image.srcLg"
          v-show="false"
          :key="image.srcSm"
        />
      </div>
      <footbar />
    </div>
  </div>
</template>
<script>
import data from '@/static/dataOut.json';
import footbar from '~/components/footbar.vue';
import navbar from '~/components/navbar.vue';

export default {
  components: {
    navbar,
    footbar
  },
  props: {
    imageSet: String,
    pageTitle: String
  },
  data: function() {
    return {
      numCols: 3,
      largeSize: 1200,
      theatreActive: false,
      theatreImage: null,
      theatreIndex: null,
      direction: 1,
      transitionName: 'fade',
      theatreImageText: '',
      didMount: false
    };
  },
  mounted() {
    window.addEventListener('resize', this.getNumCols);
    this.getNumCols();
    this.getLargeSize();
    this.didMount = true;
  },
  destroyed() {
    window.removeEventListener('resize', this.getNumCols);
  },
  computed: {
    images: function() {
      let imgArr = data.filter(x => x.page === this.imageSet);
      let doublePaddingPercentage = 2;
      let padding = this.numCols * doublePaddingPercentage;
      let percentageTotal = 99 - padding;
      let base = percentageTotal / this.numCols;
      let rowRatios = [];
      let row = 0;
      let col = 0;
      let rowTotal = 0;
      let lastImage = imgArr.length - 1;
      imgArr.forEach((x, i) => {
        col++;
        rowTotal += x.ratio;
        x.row = row;
        if (col === this.numCols || i === lastImage) {
          row++;
          col = 0;
          rowRatios.push(rowTotal / this.numCols);
          rowTotal = 0;
        }
      });

      let rowHeights = rowRatios.map(x => base * (1 / x));

      //ratio = w/h - so ratio=wideness so shortness

      let currHeight = 0;
      let rowOffsets = [];
      let rowBottoms = [];
      rowHeights.forEach((x, i) => {
        rowOffsets.push(currHeight);
        currHeight += rowHeights[i];
        rowBottoms.push(currHeight);
      });

      let currLeftOffset = 0;
      imgArr.forEach((x, i) => {
        let left;
        if (i % this.numCols === 0) {
          left = '0';
          currLeftOffset = 0;
        } else {
          let p = imgArr[i - 1];
          currLeftOffset +=
            doublePaddingPercentage + base * p.ratio * (1 / rowRatios[x.row]);
          left = currLeftOffset + '%';
        }
        let top = rowOffsets[x.row] + '%';
        let height = rowHeights[x.row] + '%';
        let width =
          doublePaddingPercentage + base * x.ratio * (1 / rowRatios[x.row]);
        if (width > 90) {
          width = 99;
        }

        x.width = width;
        x.style = { width: `${width}%` };
      });

      return imgArr.map((x, i) => ({
        style: x.style,
        src: '/' + x.src,
        srcSm: `/${x.src}?nf_resize=fit&${
          x.width > 50 ? 'w=1200&h=1200' : 'w=600'
        }`,
        srcLg: `/${x.src}?nf_resize=fit&w=${this.largeSize}&h=${this.largeSize}`,
        text: x.text
      }));
    }
  },
  methods: {
    getNumCols() {
      let w = Math.min(1200, window.innerWidth);
      this.numCols = w > 600 ? 3 : 1; //w>1200?5:w>902?4:w>600?3:w>400?2:1
    },
    getLargeSize() {
      let w = Math.min(1200, window.innerWidth);
      this.largeSize = w > 1200 ? 1500 : w > 900 ? 1200 : w > 600 ? 900 : 600;
    },
    showTheatre(i) {
      this.theatreActive = true;
      this.theatreIndex = i;
      this.theatreImage = this.images[i];
      this.transitionName = 'fade';
    },
    hideTheatre() {
      this.theatreActive = false;
      this.theatreIndex = null;
      this.theatreImage = null;
      this.transitionName = 'fade';
    },
    slide(dir, i) {
      this.direction = dir;
      dir === 1
        ? (this.transitionName = 'slide-next')
        : (this.transitionName = 'slide-prev');
      let len = this.images.length;
      this.theatreIndex = (this.theatreIndex + (dir % len) + len) % len;
      this.theatreImage = this.images[this.theatreIndex];
    }
  }
};
</script>

<style>
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
picture {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /**vertical-align: middle;**/
}

.gallery {
  padding: 10px;
  padding-bottom: 40px;
  /*overflow-y: scroll;*/
}

.gallery__inner {
  max-width: 1200px;
  margin: auto;
}

.gallery__image {
  padding: 1%;
  font-size: 0px;
  vertical-align: middle;
}

.gallery__picture {
  margin: 0;
  padding: 0;
  font-size: 0px;
  vertical-align: middle;
  width: 0;
  height: 0;
}

.gallery__theatre {
  background-color: #000;
  overflow: hidden;
  left: 0;
  /**right:0;**/
  top: 0;
  width: 100%;
  height: 100vh;
  /**
    bottom: 0;
    change to vh units 
  **/
}

.gallery__theatre__container {
  background-color: #000;
  position: sticky;
  overflow: hidden;
  top: 0;

  z-index: 20;
}

.gallery__theatre__group {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gallery__theatre__image {
  max-width: 100vw;
  max-height: 100vh;
}

.gallery__theatre__text {
  position: absolute;
  bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 500px;
  color: #000;
  border-radius: 4px;
  padding: 8px;
}

.btn {
  z-index: 10;
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50vh - 35px);
  left: 1%;
  user-select: none;
  border-radius: 50%;
}

.btn-next {
  left: auto;
  right: 1%;
}

.btn-close {
  right: 1%;
  left: auto;
  top: 1%;
  font-size: 1.5em;
}

.btn:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

 {
  opacity: 0;
}

/* GO TO NEXT SLIDE */
.slide-next-enter-active,
.slide-next-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-next-enter {
  transform: translate(100%);
}
.slide-next-leave-to {
  transform: translate(-100%);
}

/* GO TO PREVIOUS SLIDE */
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-prev-enter {
  transform: translate(-100%);
}
.slide-prev-leave-to {
  transform: translate(100%);
}

.page > .nav {
  flex: none;
}

.page > .footer {
  flex: none;
}

.page__title {
  text-align: center;
  padding: 10px;
}
</style>
