<template>
  <div class="nav">
    <div class="top-nav">
      <div class="preorder" href="#">
        <img src="/WIA2020_Square_shortlisted_artist.jpg" />
      </div>
      <nuxt-link class="nav__title" to="/">Charlotte Manning</nuxt-link>
      <a
        class="preorder"
        href="https://www.hachette.co.uk/titles/charlotte-manning/the-lost-horse/9781445181424/"
      >
        <p>Preorder The Lost Horse</p>
        <img src="/losthorse.jpg" />
      </a>
    </div>
    <div class="nav__items">
      <nuxt-link class="nav__link" to="/">Home</nuxt-link>
      <nuxt-link class="nav__link" to="/about">About</nuxt-link>
      <a
        class="nav__link"
        href="https://www.etsy.com/uk/shop/CharlMIllustration"
        >Shop</a
      >
      <nuxt-link class="nav__link" to="/contact">Contact</nuxt-link>
      <a href="https://www.instagram.com/charlotte_m_illustration/"
        ><img class="nav__icon" src="/insta.svg"
      /></a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    imageSet: String
  }
};
</script>

<style>
html {
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.top-nav {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .top-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
  }
}

.nav {
  padding: 2px 5px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__title {
  text-align: center;
  font-size: 31px;
  font-family: 'Permanent Marker', sans-serif;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav__icon {
  width: 34px;
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
  font-size: 1em;
  color: #000;
  font-weight: 700;
  padding: 10px 10px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  z-index: 10;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.dropdown__content {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  pointer-events: none;
  background: #fff;
  border: 1px solid #eee;
  min-width: 100%;
  width: 230px;
  padding: 5px 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
}

.dropdown__content .nav__link {
  display: block;
}

.dropdown__active .dropdown__content {
  opacity: 1;
  pointer-events: initial;
}

.dropdown__off {
  position: absolute;
}

.dropdown__off--active {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.nav__link.nuxt-link-exact-active {
  text-decoration: underline;
}

.preorder {
  display: grid;
  align-items: center;
  padding: 8px;
  gap: 8px;
  grid-auto-flow: column;
}

.preorder img {
  width: 100px;
}
</style>
