<template>
  <div>
    <navbar />
    <div class="about">
      <p>
        Charlotte's debut book the lost horse will be publishing with Hachette
        in August 2022
      </p>

      <p>
        "Two sisters, born wild and free to graze and gallop with their herd,
        live peacefully on a prairie they’ve called home for generations. One
        day, a greedy human has another plan for their land, and they are chased
        into the desert. What will our brave young friend do when she finds
        herself homeless and separated from her sister?
      </p>

      <p>
        From debut author-illustrator Charlotte Manning comes this compassionate
        and urgent call to understand the plight of so many refugees forced to
        flee their homes, and torn from family along the way.
      </p>

      <p>
        Suitable for young readers aged 5 and older as a thoughtful introduction
        to or discussion of this subject."
      </p>

      <p class="about__narrower">
        Hello, I’m Charlotte. I recently graduated from Cambridge School of
        Art's Children's Book Illustration MA.
      </p>

      <p>
        I like to work with mixed media, painting and pochoir, to create
        illustrations of animals and nature, my favourite environment to create
        is the woods. I get a lot of inspiration from my time spent growing up
        in the countryside. I enjoy creating characters out of animals I find
        funny and interesting — my top animal to draw is bears.
      </p>

      <p class="about__narrower">
        In my spare time I like to go on walks by the river, watch films and
        spend time with my guinea pigs.
      </p>
      <p>
        You can see my work in the WIA2020 Showcase Children’s Publishing
        Category Highlights here:<br />
        <a
          href="https://theaoi.com/world-illustration-awards/showcase-2020/childrens-publishing-category-highlights/"
          >theaoi.com/world-illustration-awards/showcase-2020/childrens-publishing-category-highlights/</a
        >
      </p>
      <p>World Illustration Awards 2020 shortlisted artist</p>
      <p>Communication Arts Illustration Competition 2020 shortlisted artist</p>
      <br />

      <img class="square" src="/WIA2020_Square_shortlisted_artist.jpg" alt="" />
    </div>
  </div>
</template>

<script>
import gallery from '~/components/gallery.vue';
import navbar from '~/components/navbar.vue';

export default {
  components: {
    gallery,
    navbar
  },
  head() {
    return {
      title: 'Charlotte Manning: About'
    };
  }
};
</script>

<style>
.about {
  max-width: 720px;
  margin: 20px auto;
  text-align: center;
  padding: 0 10px;
}

.square {
  max-width: 250px;
  margin: 10px auto;
  display: block;
  width: 100%;
}

.about > p {
  margin-bottom: 20px;
}

.about__narrower {
  max-width: 550px;
  margin: auto;
}

.contact__link {
  color: #000;
}
</style>
