<template>
    <div>
      <navbar />
        <div class="contact">
        <h1>Contact</h1>
        <p>If you'd like to get in touch, email me at <a class="contact__link" href="mailto:hello@charlottemanning.art?subject=Hello">hello@charlottemanning.art</a></p> 
      </div>
    </div>
</template>

<script>
import gallery from '~/components/gallery.vue'
import navbar from '~/components/navbar.vue'

export default {
  components: {
     gallery,navbar
  },
  head () {
    return {
      title: "Charlotte Manning: Contact",
    }
  }
}
</script>

<style>
.contact{
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
  padding: 0 10px;
}

.contact>p{
  margin-top: 20px;
}

.contact__link{
  color: #000;
}


</style>
