<template>
  <gallery :imageSet="'home'" >
  </gallery>
</template>

<script>
import gallery from '~/components/gallery.vue'


export default {
  components: {
     gallery
  },
  head () {
    return {
      title: "Charlotte Manning",
    }
  }
}
</script>

<style>

.intro-text{
  max-width: 900px;
  padding: 10px 20px 15px 20px;
  margin: 0 auto;
  text-align: center;
  flex: none;
}


a{
  color: #000;
}

</style>
